<!DOCTYPE html> 
<html lang="ru"> 
  {% load static %}
  <head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../img/fav/fav.ico" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/fav/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
    <title>Новый пост</title>
  </head>
  <body>	   
    <header>
      {%include 'includes/header.html'%} 
    </header>
    <main>
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header"> 
                {% if is_edit %}
                  Редактировать запись
                {% else %}
                  Новый пост
                {% endif %}            
              </div>
              <div class="card-body">        
                <form method="post" enctype="multipart/form-data"> 
                  {% if is_edit %}
                    <action="{% url 'posts:post_edit' post.pk %}">
                  {% else %}
                    <action="{% url 'posts:post_create' %}">
                  {% endif %}
                {% csrf_token %}            
                  {{ form.as_p }}
                    <small id="id_group-help" class="form-text text-muted">
                      Группа, к которой будет относиться пост
                    </small>
                  </div>
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                      {% if is_edit %}
                        Сохранить
                      {% else %}
                        Добавить
                      {% endif %}               
                    </button> 
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="border-top text-center py-3">
      {%include 'includes/footer.html'%}
    </footer>
  </body>
</html>
